html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#355c7d), color-stop(#6c5b7b), to(#c06c84));
  background: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.watch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-container .watch .sun {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em;
  background: radial-gradient(circle, white 0%, #f0e176 76%);
  -webkit-box-shadow: -4px -3px 78px 50px rgba(251, 238, 136, 0.75);
          box-shadow: -4px -3px 78px 50px rgba(251, 238, 136, 0.75);
}

.watch-container .watch .sun .clock {
  font-size: 1.5em;
  font-weight: 900;
}

.watch-container .weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-container .weather .temp-icon {
  height: 5em;
  width: 5em;
  margin-right: 2em;
}

.watch-container .weather .weather-content .city-name {
  font-weight: 600;
}

.watch-container .alarm .alarm-input {
  border: none;
  background: rgba(121, 93, 124, 0.2);
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid grey;
  font-family: 'Roboto', sans-serif;
}

.watch-container .alarm .set-alarm,
.watch-container .alarm .stop-alarm {
  border: none;
  background-color: #2980b9;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
  border-radius: 10px;
}

.watch-container .alarm .set-alarm:hover,
.watch-container .alarm .stop-alarm:hover {
  gap: 2px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.watch-container .alarm .set-alarm {
  background-color: rgba(55, 121, 160, 0.767);
  margin: 0px 10px;
}

.watch-container .alarm .set-alarm:hover {
  background-color: #3779a0;
}

.watch-container .alarm .stop-alarm {
  background-color: rgba(199, 70, 70, 0.767);
}

.watch-container .alarm .stop-alarm:hover {
  background-color: #c74646;
}

.watch-container .surface {
  height: 150px;
  width: 500%;
  background: url("../assets/images/Img_02.png");
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-repeat: repeat-x;
  -webkit-animation: moveRight 6s linear infinite;
          animation: moveRight 6s linear infinite;
}

.watch-container .car {
  position: absolute;
  bottom: 50px;
  right: 30%;
  -webkit-animation: suspension 1s linear infinite;
          animation: suspension 1s linear infinite;
}

@-webkit-keyframes moveRight {
  100% {
    -webkit-transform: translate(-1300px);
            transform: translate(-1300px);
  }
}

@keyframes moveRight {
  100% {
    -webkit-transform: translate(-1300px);
            transform: translate(-1300px);
  }
}

@-webkit-keyframes suspension {
  100% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  0% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes suspension {
  100% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  0% {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
/*# sourceMappingURL=styles.css.map */