$background-twilight: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
$sun-gradient: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(240, 225, 118) 76%);
$sun-shadow: -4px -3px 78px 50px rgba(251,238,136,0.75);
$font-color: #2e2e3f;
@import "./watch";
@import "./timer";
@import "./alarm";
@import "./weather";
@import "./button";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $font-color;
}

body {
  background: $background-twilight;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  .watch-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .bottom-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100vw;
    }
  }
  

  .surface {
    height: 150px;
    width: 500%;
    background: url("../assets/images/Img_02.png");
    display: block;
    position: absolute;
    bottom:0;
    left: 0;
    background-repeat: repeat-x;
    animation: moveRight 6s linear infinite;
  }

  .car {
    position: absolute;
    bottom: 50px;
    right: 30%;
    animation: suspension 1s linear infinite;
  }

  @keyframes moveRight {
    100% { transform: translate(-1300px);}
  }

  @keyframes suspension {
    100% { transform: translateY(-1px);};
    50% { transform: translateY(2px);};
    0% { transform: translateY(-1px);};
  }
}


